* { 
  margin:0; padding:0;
}

a img {
  border-style:none;
}

a {
  text-decoration:none;
} 
a.visited{
  color:inherit;
}
ul li {
  list-style-type:none; margin:0; padding:0;
}

hr {
  margin:0; padding:0; display:none;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body.splash {
    background-color: #E0DCDA;
}

body.lessons {
    background-color: #EDEAE8;
}

header{
  background-color: white;
  height: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.splash #main-content{
  width: 100%;
  height: 100%;
  display: block;
}

.splash #wrapper{
    position: relative;
    top: 30%;
    text-align: center;
}

div#wrapper{
    max-width: 735px;
    margin: 0 auto;
    padding: 10px;
}
header figure.logo {
    padding: 10px;
    width: 25%;
    max-width: 90px;
    margin: 0;
}
figure.logo {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 340px;
}

.logo img {
    width: 100%;
}

a.btn-red {
    padding: 15px 40px;
    margin: 0px auto;
    border-radius: 25px;
    background-color: #8C271E;
    display: block;
    width: max-content;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.dialog {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.dialog.marcus {
    justify-content: flex-start;
}

.dialog.user {
    justify-content: flex-end;
}

.marcus.active p {
    background-color: #F7BF06;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    color: #505050;
    font-size: 1.1em;
}
.marcus.active .left-arrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #F7BF06; 
}

.user.active p {
    background-color: #BEEADB;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    color: #505050;
    font-size: 1.1em;
}
.user.active .right-arrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:10px solid #BEEADB; 
}

div#reply {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

input#answer {
    width: 80%;
    height: 40px;
    padding: 5px 10px;
    font-size: 1.1em;
}

div#reply .send {
    padding: 15px;
    background-color: #1EA896;
    border-radius: 50%;
    color: white;
    font-size: 1.3em;
}